<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/main"
      xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Edit profile</title>
  <script th:src="@{/js/alerts.js}" defer="defer"></script>
</head>

<div layout:fragment="content">
  <h1>Edit profile</h1>

  <form method="POST" th:action="@{/user/save-edited}" th:object="${appUser}">
    <input th:field="*{id}" type="hidden" />

    <label>Username</label> <input th:field="*{username}" type="text" class="form-control col-4" />
    <p th:if="${userExists}" class="text-danger">Username already exists</p>
    <br th:unless="${userExists}" />

    <label>Name</label> <input th:field="*{name}" type="text" class="form-control col-4" /><br />
    <label>Surname</label> <input th:field="*{surname}" type="text" class="form-control col-4" /><br />

    <label>Password</label> <input name="password" th:field="*{password}" type="password" class="form-control col-4" />
    <p th:if="${passwordEmpty}" class="text-danger">Password can not be empty</p>
    <br th:unless="${passwordEmpty}" />

    <label>Confirm Password</label> <input name="confirmPassword" type="password" class="form-control col-4" />
    <p th:if="${passwordsMismatch}" class="text-danger">Passwords do not match</p>
    <br th:unless="${passwordsMismatch}" />

    <button type="submit" class="btn btn-primary btn-sm mb-1 mt-1">Save item</button>
  </form>

  <a href="/" alt="Home" class="btn btn-primary btn-sm">Home</a>
</div>
<script th:src="@{/js/check-passwords.js}"></script>

</html>