<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/main"
      xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Eshop</title>
</head>

<div layout:fragment="content">
  <h1>Eshop</h1>

  <div class="d-flex flex-row">
    <a href="/" alt="Home" class="btn btn-primary btn-sm mb-1 mr-1">Home</a><br />
    <a href="/cart/" alt="Cart" class="btn btn-primary btn-sm mb-1 mr-1">Cart</a><br />
    <form th:action="@{/logout}" method="post">
      <input type="submit" value="Log Out" class="btn btn-primary btn-sm mb-1 mr-1"/>
    </form>
  </div>

  <table class="table col-12">
    <thread>
      <tr>
        <th>Product code</th>
        <th>Product name</th>
        <th>Volume</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thread>

    <tbody>
    <tr th:each="item:${allItems}" th:if="${item.volume > 0}">
      <td th:text="${item.productCode}" class="align-middle"></td>
      <td th:text="${item.productName}" class="align-middle"></td>
      <td th:text="${item.volume}" class="align-middle"></td>
      <td th:text="${item.price}" class="align-middle"></td>
      <td class="align-middle">
        <form th:action="@{/cart/add/{idItem}(idItem=${item.id})}" method="post" class="d-flex">
          <input name="enteredVolume" type="number" min="1" step="1" value="1" th:max="${item.volume}" class="form-control col-3 mr-3"/>
          <button type="submit" class="btn btn-primary btn-sm">Add to cart</button>
        </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>

</html>