<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/main"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Order placed</title>
</head>

<div layout:fragment="content">
    <h1>Order successfully placed</h1>

    <div class="d-flex flex-row">
        <a href="/order/" alt="Home" class="btn btn-primary btn-sm mb-1 mr-1">My orders</a>
        <a href="/user/" type="button" class="btn btn-primary btn-sm mb-1 mr-1">Profile</a>
        <a href="/" alt="Home" class="btn btn-primary btn-sm mb-1 mr-1">Home</a><br />
    </div>
</div>
</html>